.Card {
  height: 50rem;
  max-height: 50rem;
  width: 65%;
  max-width: 120rem;
  border-radius: 2rem;
  background: #ffff;
  display: flex;
  box-shadow: 0.5rem 1.6rem 2rem #3b3376;
  position: relative;
}

.Card-content-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
  padding: 4rem;
  box-sizing: border-box;
}

.Card-content-container--header {
  font-size: 3.6rem;
}

.Card-icon {
  position: absolute;
  top: 10%;
  left: -8rem;
}
.Box-icon {
  position: absolute;
  top: 38%;
  left: -10rem;
  z-index: 1;
}

@media (max-width: 920px) {
  .Card {
    height: 80%;
    width: 50%;
    max-width: 80rem;
    flex-direction: column;
    margin-top: 5rem;
    max-height: 70rem;
  }
  .Card-content-container {
    width: auto;
    overflow: visible;
    padding: 0;
    justify-content: space-between;
  }
  .Card-content-container:nth-child(1) {
    height: 25%;
  }
  .Card-content-container:nth-child(2) {
    margin-top: 35%;
    padding-left: 10rem;
  }
  .Card-content-container--header {
    text-align: center;
  }
  .Card-icon {
    top: 0;
    left: 0;
  }
  .Mobile-card-icon {
    position: absolute;
    top: -17.5%;
    left: 10%;
  }
}
