.Accordion {
    border-bottom: 1px solid lightgray;
    max-width: 35rem;
    box-sizing: border-box;
}

.Accordion-header {
    display: flex;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
}

.Accordion-header--text {
    font-size: 1.6rem;
    color: gray;
    font-weight: lighter;
}

.Accordion-header--text:not(.header-text--active):hover {
    color: orange;
}

.Accordion-body--text {
    color: gray;
    font-size: 1.2rem;
}

.Accordion-icon-container {
    padding: 1rem;
}

.rotate {
    transform: rotate(180deg);
}

.header-text--active {
    color: black;
    font-weight: bold;
}

@media(max-width: 600px) {
    .Accordion-header--text {
        font-size: 1.6rem;
    }
}